<section class="textCenter">
  <h1>Relatórios</h1>
</section>

<section class="reportsButtons">
  <ul>
    <li><a href="<%= Routes.log_path(@conn, :index) %>" class="button">Todos</a></li>
    <li><a href="<%= Routes.log_path(@conn, :index, period: "year") %>" class="button">Anual</a></li>
    <li><a href="<%= Routes.log_path(@conn, :index, period: "month") %>" class="button">Mensal</a></li>
    <li><a href="<%= Routes.log_path(@conn, :index, period: "day") %>" class="button">Diário</a></li>
  </ul>
</section>

<section>
  <h2 class="textCenter">
    <%= report_name(@period) %>
  </h2>

  <table class="reportTable">
    <thead>
      <tr>
        <th>Data</th>
        <th>Créditos</th>
        <th>Débitos</th>
        <th>Saldo</th>
      </tr>
    </thead>
    <tbody>
      <%= for line <- @report_data do %>
        <tr>
          <td><%= date_display(@period, line.date) %></td>
          <td class="<%= money_class(line.credit) %>"><%= money(line.credit) %></td>
          <td class="<%= money_class(line.debit) %>"><%= money(line.debit) %></td>
          <td class="<%= money_class(line.balance) %>"><%= money(line.balance) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>