<section class="hero">
  <h1>Crie a sua conta agora e ganhe <strong>R$ 1.000,00</strong>!</h1>

  Basta usar nossa API conforme documentação abaixo.
</section>

<section>
  <h2>1. Criando uma conta</h2>

  <h3>Requisição</h3>

  <p class="requestSpec"><strong>POST</strong>/api/users</p>

  <p>Envie seus dados no corpo da requisição como JSON com o seguinte formato:</p>

  <pre><code>{
  "user":{
    "email":"johndoe@example.com"
  }
}</code></pre>

  <p>
    Não esqueça de substituir o endereço de e-mail
    <strong>johndoe@example.com</strong> pelo seu próprio endereço.
  </p>

  <h3>Resposta</h3>

  <pre><code>{
  "data": {
    "account": {
      "balance": 100000
    },
    "email": "johndoe@example.com",
    "id": 4,
    "token": "oFPP89aqxxiBsxfevwl1WMxCjlqAZgD+W2+B9nPY0ZMTI5IMnQq4R5DCxh3t+0v5"
  }
}</code></pre>

  <p>
    A resposta vai conter informações sobre sua conta. É muito importante guardar
    o valor do <strong>token</strong>. Ele será usado para autenticar suas
    próximas requisições aos sistema.
  </p>

  <h3>Exemplo</h3>

  <pre><code>curl -H "Accept: application/json" \
  -H "Content-Type: application/json" \
  -X POST \
  -d '{"user": {"email": "johndoe@example.com"}}' \
  http://localhost:4000/api/users</code></pre>
</section>

<section>
  <h2>2. Consultando seu saldo</h2>

  <h3>Requisição</h3>

  <p class="requestSpec"><strong>GET</strong>/api/users</p>

  <p><strong>Requer autenticação!</strong></p>

  <h3>Resposta</h3>

  <pre><code>{
  "data": {
    "account": {
      "balance": 100000
    },
    "email": "johndoe@example.com",
    "id": 1,
    "token": "oFPP89aqxxiBsxfevwl1WMxCjlqAZgD+W2+B9nPY0ZMTI5IMnQq4R5DCxh3t+0v5"
  }
}</code></pre>

  <h3>Exemplo</h3>

  <pre><code>curl -H "Accept: application/json" \
  -H "Content-Type: application/json" \
  -H "X-Auth-Token: oFPP89aqxxiBsxfevwl1WMxCjlqAZgD+W2+B9nPY0ZMTI5IMnQq4R5DCxh3t+0v5" \
  http://localhost:4000/api/users</code></pre>
</section>

<section>
  <h2>3. Fazendo um saque</h2>

  <h3>Requisição</h3>

  <p class="requestSpec"><strong>POST</strong>/api/transactions/withdrawal</p>

  <p><strong>Requer autenticação!</strong></p>

  <p>Envie seus dados no corpo da requisição como JSON com o seguinte formato:</p>

  <pre><code>{
  "withdrawal":{
    "amount":5000
  }
}</code></pre>

  <h3>Resposta</h3>

  <pre><code>{
  "data":{
    "amount":5000,
    "failure_reason":null,
    "id":11,
    "status":"success",
    "to":null,
    "type":"withdrawal"
  }
}</code></pre>

  <h3>Exemplo</h3>

  <pre><code>curl -H "Accept: application/json" \
  -H "Content-Type: application/json" \
  -H "X-Auth-Token: oFPP89aqxxiBsxfevwl1WMxCjlqAZgD+W2+B9nPY0ZMTI5IMnQq4R5DCxh3t+0v5" \
  -d '{"withdrawal": {"amount": 5000}}' \
  http://localhost:4000/api/transactions/withdrawal</code></pre>
</section>

<section>
  <h2>4. Fazendo um depósito</h2>

  <h3>Requisição</h3>

  <p class="requestSpec"><strong>POST</strong>/api/transactions/deposit</p>

  <p><strong>Requer autenticação!</strong></p>

  <p>Envie seus dados no corpo da requisição como JSON com o seguinte formato:</p>

  <pre><code>{
  "deposit":{
    "amount":5000
  }
}</code></pre>

  <h3>Resposta</h3>

  <pre><code>{
  "data":{
    "amount":5000,
    "failure_reason":null,
    "id":12,
    "status":"success",
    "to":null,
    "type":"deposit"
  }
}</code></pre>

  <h3>Exemplo</h3>

  <pre><code>curl -H "Accept: application/json" \
  -H "Content-Type: application/json" \
  -H "X-Auth-Token: oFPP89aqxxiBsxfevwl1WMxCjlqAZgD+W2+B9nPY0ZMTI5IMnQq4R5DCxh3t+0v5" \
  -d '{"deposit": {"amount": 5000}}' \
  http://localhost:4000/api/transactions/deposit</code></pre>
</section>

<section>
  <h2>5. Fazendo uma transferência</h2>

  <h3>Requisição</h3>

  <p class="requestSpec"><strong>POST</strong>/api/transactions/transfer</p>

  <p><strong>Requer autenticação!</strong></p>

  <p>Envie seus dados no corpo da requisição como JSON com o seguinte formato:</p>

  <pre><code>{
  "transfer":{
    "amount":5000,
    "to":"janedoe@example.com"
  }
}</code></pre>

  <p>
    No campo <code>to</code> coloque o endereço de e-mail da pessoa para quem
    deseja realizar a transferência. O endereço precisa estar préviamente
    cadastrado no sistema.
  </p>

  <h3>Resposta</h3>

  <pre><code>{
  "data":{
    "amount":5000,
    "failure_reason":null,
    "id":13,
    "status":"success",
    "to":"janedoe@example.com",
    "type":"transfer"
  }
}</code></pre>

  <h3>Exemplo</h3>

  <pre><code>curl -H "Accept: application/json" \
  -H "Content-Type: application/json" \
  -H "X-Auth-Token: oFPP89aqxxiBsxfevwl1WMxCjlqAZgD+W2+B9nPY0ZMTI5IMnQq4R5DCxh3t+0v5" \
  -d '{"transfer": {"amount": 5000, "to": "janedoe@example.com"}}' \
  http://localhost:4000/api/transactions/transfer</code></pre>
</section>

<section>
  <h2>Erros e problemas</h2>

  <ul>
    <li>Você não pode se cadastrar com um endereço de e-mail previamente cadastrado</li>
    <li>Não é possível realizar saques ou transferências que excedam o valor presente em seu saldo</li>
  </ul>
</section>

<section class="textCenter">
  <a href="<%= Routes.log_path(@conn, :index) %>" class="button">Relatórios</a>
</section>