@import "../node_modules/milligram/dist/milligram.min.css";

header {
  margin: 10rem 0;
}

section {
  margin: 2.5rem 0
}

.textCenter {
  text-align: center;
}

.stone-logo {
  display: block;
  margin: 0 auto;
  max-width: 20rem;
}

.stone-logo img {
  display: block;
}

.hero {
  background-color: #F0F0F0;
  border-radius: 1rem;
  font-size: 2.2rem;
  text-align: center;
  margin: 4rem 0;
  padding: 4rem;
}

.reportsButtons ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.reportsButtons ul li {
  margin: 0 .5rem;
}

.reportTable .neutral,
.reportTable .credit,
.reportTable .debit {
  font-weight: bold;
}

.reportTable .neutral {
  color: #CCC;
}

.reportTable .credit {
  color: #49CC8F;
}

.reportTable .debit {
  color: #ED8088;
}

.requestSpec {
  background-color: rebeccapurple;
  border-radius: .75rem;
  color: white;
  padding: .5rem 1.5rem;
}

.requestSpec strong {
  display: inline-block;
  margin-right: 2rem;
}